<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>./log.log</file>
	    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
	        <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %msg%n</Pattern>
	    </encoder>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>./archived/log_%d{dd-MM-yyyy}.log</fileNamePattern>
	        <maxHistory>10</maxHistory>
	        <totalSizeCap>100MB</totalSizeCap>
	    </rollingPolicy>
	</appender>

	<logger name="iasc.g4.tester" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
	</logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>